---

title: Journal
layout: flat

---

<div class="col-md-1">
</div>
<div class="col-md-6">
    <ul class="pager">
      <li class="previous"><a href="#">&larr; Older</a></li>
      <li class="next"><a href="#">Newer &rarr;</a></li>
    </ul>
    {% for post in site.posts limit: 2 %}
        <p class="blog-post-date blog-post-date-small">{{ post.date | date_to_long_string }}</p>
        <h2>{{ post.title }}</h2>
        {{ post.content | truncatewords:50 | strip_html  }}
        <p>
          <a href="{{site.url}}{{ post.url }}">Read Post</a>
        </p>
    {% endfor %}
</div>
<div class="col-md-1">
</div>
<div class="col-md-4">
    {% include sidebar.html %}
</div>


