<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{site.url}}/assets/ico/favicon.ico">
        <title>northwind21</title>
        <link href="{{site.url}}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{site.url}}/css/main.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="nav navbar-default navbar-static-top" role="navigation">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <div class="navbar-brand">northwind21</div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{{site.url}}/">Home</a></li>
                            <!--
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Frames<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">3DR Iris</a></li>
                                </ul>
                            </li>
                            -->
                            <li><a href="{{site.url}}/main/blog">Journal</a></li>
                            <li><a href="{{site.url}}/main/contact">Contact</a></li>    
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        