<h2>Reference</h2>
<ul>
    <li><a href="{{site.url}}/faq">FAQ</a></li>
    <li><a href="{{site.url}}/getting_started">Getting Started</a></li>
    <li><a href="{{site.url}}/wip">Work In Progress</a></li>
</ul>
<h2>550M Frame (3DR Iris) Build</h2>
<strong>Controller:</strong> Pixhawk
<ul>
    <li><a href="{{site.url}}/led">Lights Lights Lights!</a></li>
    <li><a href="{{site.url}}/big">Big Battery</a></li>
</ul>
<h2>330M Frame (Custom) Build</h2>
<strong>Controller:</strong> MicroWii
<ul>
    <li>Coming Soon!</li>
</ul>
<h2>Recent 10 Entries</h2>
<ul>
  {% for post in site.posts limit: 10 %}
    <li><a href="{{site.url}}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
